body{
    margin: 0;
    padding: 0;
}

header.heading{
    width: 100%;
    height: 5vw;
    background-color: rgb(49, 51, 49);
}

header.heading div.head{
    display: inline-block;
    letter-spacing: 1.5vw;
    color: rgb(188, 156, 34);
    font-size: 2.0vw;
    padding-right: 8.0vw;
    padding-left: 3.7vw;
    padding-top: 1.4vw;
}
section.acblack{
    height: 65vw;
    width: 100%;
    background-color: rgb(2, 2, 2);
}
section.acblack img.blimg{
    height: 60vw;
    width: 45vw;
    padding-left: 24vw;
}
section.acblack div.tabout{
    color: rgb(188, 156, 34);
    padding-left: 45vw;
    margin-top: -22vw;
}
section.acblack div.ttext{
    color: white;
    text-align: center;
    margin-left:0vw ;
}